.module {
  display: flex;
  flex-wrap: wrap;
  .block {
    width: 50%;
    display: flex;
    .text {
      padding: 10px;
    }
    .image {
      display: flex;
      margin: auto;
      padding: 10px;
    }
  }
}
