.main-menu-container {
  grid-area: menu;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}
.router-outlet-container { grid-area: main; }
.header-container { grid-area: header; }

.document-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main   main   main   main   main';
  grid-gap: 10px;

  height: 100%;
}
